---
layout: page
title: Components
offset: styles
permalink: /tools/open-source/styles/components/
---

<h3>Cards</h3>
<div class="flex gap-md">
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">Card with header</div>
        <div class="padding-md">Content</div>
    </div>
    <div class="card column stretched padding-lg">
        .card
    </div>
    
    <div class="card column stretched padding-lg card-secondary">
        .card-secondary
    </div>
    <div class="card column stretched padding-lg no-border">
        .no-border
    </div>
</div>

<div class="air-lg"></div>

<h3>Buttons</h3>

<div class="flex gap-md">
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">&lt;button&gt;</div>
        <div class="padding-md"><button>Button</button></div>
    </div>
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">.button-clean</div>
        <div class="padding-md"><button class="button-clean">Button</button></div>
    </div>
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">{ color }</div>
        <div class="padding-md"><button class="button-clean bg-yellow black">Button</button></div>
    </div>
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">.button-lg</div>
        <div class="padding-md"><button class="button-lg">Button</button></div>
    </div>
    <div class="card column stretched width-30-mobile">
        <div class="card-header padding-md">.button-round</div>
        <div class="padding-md">
            <button class="button-clean button-round">
                <span class="material-icons">favorite</span>
            </button>
        </div>
    </div>
    
</div>