{% include "special/demo/corsair/head.html" %}

<body>
    {% include "special/demo/corsair/header.html" %}
    <main>
        {% include "special/demo/noticeDemo.html" %}
        <div class="content grid-global">
            <article>
                {% if remark %}
                    <p class="meta-info">
                        <span class="">{{ remark }}</span>
                    </p>
                {% endif %}
                {{ content }}
            </article>
        </div>
    </main>

    {% include "special/demo/corsair/modals/umbrella-casefile.html" %}
    {% include "special/demo/corsair/modals/unit-drilldown.html" %}
    {% include "special/demo/corsair/modals/monday-digest.html" %}

    <script src="/assets/js/demo/corsair.js" defer></script>
</body>

{% include "special/demo/footer.html" %}