<footer>
  <div class="site-max-width padding-x-md padding-b-lg">
    <div class="grid-global padding-y-lg">
      {% include /menu/footer-solutions.html %}
      {% include /menu/footer-services.html %}
      <div class="col-span-2">
        <h5>Subscriptions</h5>
        <nav>
          <ul>
            <li><a href="">Junior Associate</a></li>
            <li><a href="">Associate</a></li>
            <li><a href="">Consigliere</a></li>
            <li><a href="">Mr. Wolf</a></li>
            <li><a href="">NED</a></li>
            <li><a href="/services/pricing/">Pricing</a></li>
          </ul>
        </nav>
      </div>
      {% include /menu/footer-about.html %}
      {% include /menu/footer-legal.html %}
    </div>

    <div class="flex stretched border-top">
      <div>
        <p>{{ site.description }}:<br>
          <a class="no-decoration" href="tel:{{ site.phone }}">{{ site.phone }}</a><br>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
      <div class="right">
        <p>© 2023—{{ site.time | date: '%Y' }}  {{ site.title }}<br>
          Built on <a href="https://raredigits.art">Rare Styles</a></p>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/hamburger.js"></script>
<script src="/assets/js/header-scroll.js"></script>
{% include /special/cookie-consent.html %}