<footer>
  <div class="SiteMaxWidth Column">
    <div class="Flex GapMd">
      {% include /menu/footer-solutions.html %}
      {% include /menu/footer-services.html %}
      <div class="Quarter">
        <h3>Subscriprions</h3>
        <ul>
          <li><a href="">Junior Associate</a></li>
          <li><a href="">Associate</a></li>
          <li><a href="">Consigliere</a></li>
          <li><a href="">Mr. Wolf</a></li>
          <li><a href="">NED</a></li>
          <li><a href="">Pricing</a></li>
        </ul>
      </div>
      {% include /menu/footer-about.html %}
      {% include /menu/footer-legal.html %}
    </div>

    <div class="Row Stretched BorderTop">
      <div>
        © 2023—{{ site.time | date: '%Y' }}  {{ site.title }}<br>
        {{ site.description }}
        <p>
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </p>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/hamburger.js"></script>
{% include /special/cookie-consent.html %}

