<footer>
  <div class="SiteMaxWidth Column">
    <div class="Flex GapLg">
      <div>
        <h3>Solutions</h3>
        <ul>
          <li><a href="">Atlas ERP</a></li>
          <li><a href="">Columbus CRM</a></li>
          <li><a href="">Forecast App</a></li>
          <li><a href="">Fanfare Loyalty</a></li>
          <li><a href="">Concierge GPT</a></li>
          <li><a href="/tools/web3/watchtower">Watchtower</a></li>
          <li><a href="/tools/open-source">Open-Source</a></li>
        </ul>
      </div>
      <div>
        <h3>Services</h3>
        <ul>
          <li><a href="">Consulting</a></li>
          <li><a href="">Design</a></li>
          <li><a href="">Intergations</a></li>
          <li><a href="">Security</a></li>
          <li><a href="">Tech Stack</a></li>
        </ul>
      </div>
      <div>
        <h3>Subscriprions</h3>
        <ul>
          <li><a href="">Junior Associate</a></li>
          <li><a href="">Associate</a></li>
          <li><a href="">Consigliere</a></li>
          <li><a href="">Mr. Wolf</a></li>
          <li><a href="">NED</a></li>
          <li><a href="">Pricing</a></li>
        </ul>
      </div>
      <div>
        <h3>Rare</h3>
        <ul>
          <li><a href="/about">About</a></li>
          <li><a href="/about/principles">Principles</a></li>
          <li><a href="/about/newsroom">Newsroom</a></li>
          <li><a href="/about/partnership">Partnership</a></li>
          <li><a href="/about/contacts">Contacts</a></li>
        </ul>
      </div>
      <div>
        <h3>Legal Stuff</h3>
        <ul>
          <li><a href="">Privacy Policy</a></li>
          <li><a href="">Terms of Use</a></li>
        </ul>
      </div>
    </div>

    <div class="Row Stretched BorderTop">
      <div>
        © 2023—{{ site.time | date: '%Y' }}  Rare Digits<br>
        Coding Sences, Building Worlds
      </div>
      <div class="Right">
        Rare Digits Production DMCC<br>
        DMCC Business Centre,<br>
        Jewellery & Gemplex&nbsp;3<br>
        115738, Dubai, UAE<br>
        <a href="mailto:hi@raredigits.io">hi@raredigits.io</a>
      </div>
    </div>
  </div>
</footer>

<script src="/assets/js/hamburger.js"></script>

