<header class="padding-x-md">
  <div class="header-container grid-global">
    <div class="header-logo-wrapper">
        <a class="no-decoration" href="/"><div class="header-logo"></div></a>
    </div>
    <nav class="nav-global flex stretched">
      <ul>
        {% for item in site.navigation %}
        <li>
            <a href="{{ item.url }}"
               class="{% if page.url and page.url contains item.url %}current{% endif %}">
              {{ item.text }}
            </a>
        </li>
        {% endfor %}
      </ul>
    </nav>
    <div class="header-icons">
      <button class="hamburger no-decoration" aria-label="Toggle navigation">
          <span class="material-icons icon-menu">menu</span>
          <span class="material-icons icon-close">close</span>
      </button>
    </div>
  </div>
</header>
