<header>
    <div class="SiteMaxWidth Row Stretched">
        <a class="NoDecoration" href="/">
            <div class="HeaderLogo"></div>
        </a>
        <button class="Hamburger NoDecoration" aria-label="Toggle navigation">
            <span class="material-icons MenuIcon">menu</span>
            <span class="material-icons CloseIcon">close</span>
        </button>
        <nav class="GlobalNav">
            <ul>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#solutions">Solutions</a></li>
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/about/newsroom">Pressroom</a></li>
                <li><a href="/about/contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>