<header class="padding-x-md">
  <div class="header-container grid-global">
    <div class="header-logo-wrapper">
        <a class="no-decoration" href="/"><div class="header-logo"></div></a>
    </div>
    <nav class="nav-global flex stretched">
      <ul>
          <li><a href="/services/">Services</a></li>
          <li><a href="/tools/">Solutions</a></li>
          <li><a href="/services/pricing/">Pricing</a></li>
          <li><a href="/about/newsroom/">Newsroom</a></li>
          <li><a href="/about/contacts/">Contacts</a></li>
      </ul>
    </nav>
    <button class="hamburger no-decoration" aria-label="Toggle navigation">
        <span class="material-icons icon-menu">menu</span>
        <span class="material-icons icon-close">close</span>
    </button>
  </div>
</header>