<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ site.title }} | {{ page.title }}</title>

    <link rel="icon" href="/assets/img/favicon/favicon.svg" sizes="any" type="image/svg+xml">
    <link rel="icon" href="/assets/img/favicon/favicon-32.png" sizes="32x32">
    <link rel="apple-touch-icon" href="/assets/img/favicon/apple-touch-icon.png" sizes="180x180">

    <link rel="stylesheet" href="https://raredigits.github.io/rare-styles/rare.min.css">
    <link rel="stylesheet" href="/assets/css/rare.css">
    <link rel="stylesheet" href="/assets/css/themes/black.css">
    <!-- <link rel="stylesheet" href="/assets/css/themes/rareBlack.css"> -->
    <link rel="stylesheet" href="/assets/css/modules/home.css">
    <link rel="stylesheet" href="/assets/css/feedback.scss">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script>
      if (location.hostname !== "localhost") {
        var s = document.createElement('script');
        s.async = true;
        s.src = "https://www.googletagmanager.com/gtag/js?id=G-91KWRG2Y9N";
        document.head.appendChild(s);

        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-91KWRG2Y9N');
      }
    </script>
</head>