<header>
    <div class="header-wrapper site-max-width Row Stretched">
        <a class="no-decoration" href="/">
            <div class="header-logo"></div>
        </a>
        <button class="hamburger no-decoration" aria-label="Toggle navigation">
            <span class="material-icons icon-menu">menu</span>
            <span class="material-icons icon-close">close</span>
        </button>
        <nav class="nav-global">
            <ul>
                <li><a href="/#services">Services</a></li>
                <li><a href="/#solutions">Solutions</a></li>
                <li><a href="/#pricing">Pricing</a></li>
                <li><a href="/#newsroom">Pressroom</a></li>
                <li><a href="/#contacts">Contacts</a></li>
            </ul>
        </nav>
    </div>
</header>