<div id="cookie-notice" class="cookie-notice">
  <div class="cookie-notice__content">
    <h3>🍪</h3>
    <p class="bold">Help yourself to&nbsp;some cookies!</p>
    <p>We’re using third party cookies and scripts to improve the functionality of this website. For legal purpose, we have a <a href="/legal/privacy">Privacy Policy</a>.</p>
    <div class="right">
        <button id="cookie-notice-accept" class="cookie-notice__button">Nice!</button>
    </div>
  </div>
</div>

<script src="/assets/js/cookie-consent.js"></script>