<h5 class="sidebar-header">
  <a class="no-decoration" href="/about/">Inputs</a>
</h5>
<ul>
  {% for item in site.data.menu.about.items %}
    <li class="{% if page.url == item.url %}bold{% endif %}">
      {% if page.url == item.url %}
        {{ item.title }}
      {% else %}
        <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>

{% if site.data.menu.about.featured %}
  <div class="sidebar-section mobile-hidden">
  <span class="sidebar-header">Outputs</span>
  <ul>
      {% for item in site.data.menu.about.featured %}
      <li>
          <a href="{{ item.url | relative_url }}">
          {{ item.title }}
          </a>
      </li>
      {% endfor %}
  </ul>
  </div>
{% endif %}
