<div class="Sidebar">
    <span class="SidebarHeader"><a href="/services/" class="NoDecoration">Services</a></span>
    <nav class="SidebarNav">
      <ul>
        {% for item in site.data.menu.services.items %}
          <li class="{% if page.url == item.url %}Bold{% endif %}">
            {% if page.url == item.url %}
              {{ item.title }}
            {% else %}
              <a href="{{ item.url | relative_url }}">{{ item.title }}</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </nav>
  </div>