.page-content {
    padding-bottom: calc(var(--space-lg) * 5);
}

.page-content p,
.page-content ul {
    max-width: var(--content);
}

.page-content p > img {
    display: block;
    width: 100%;
    height: auto;
}

article {
    padding: var(--space-lg) 0;
}
  
section {
    position: relative;
    margin-bottom: var(--space-lg);
}

h1, h2, h3, h4 {
    font-family: var(--heading-font);
}

h1 {
    font-size: 2.2em;
}

h2 {
    font-size: 1.4em;
    margin: var(--space-md) 0 var(--space-sm);
}

h3 {
    font-size: 1.2em;
    margin: var(--space-sm) 0;
}

h4 {
    font-size: 1.1em;
    margin: var(--space-sm) 0;
}

p {
    margin: var(--space-sm) 0;
}

img {
    width: auto;
    height: auto;
}

h1 a, h2 a, h3 a, h4 a {
    color: var(--primary-text-color);
    text-decoration: none;
    border: none;
}

.eyebrow {
    color: var(--secondary-text-color);
    font-size: var(--font-size-sm);
}

.tag {
    color: var(--secondary-text-color);
    background: var(--secondary-color);
    display: inline-block;
    padding: 1px 8px;
    border: 1px solid var(--border-color-light);
    border-radius: 3px;
    font-size: var(--font-size-sm);
    margin-bottom: 3px;
}

.highlight {
    width: var(--content);
    font-size: 1.2em;
    border: 4px solid var(--brand-color);
    padding: var(--space-sm) var(--space-lg);
    margin-top: var(--space-md);
}

.wide-background {
    position: relative;
    background: var(--secondary-color);
    width: calc(100vw + var(--space-md));
    left: calc(50% - var(--sidebar)); 
    margin-left:  calc(-50vw + calc(var(--space-lg) + var(--space-md)));
    margin-right: calc(-50vw + calc(var(--space-lg) + var(--space-md)));
    padding-left: calc(50vw - calc(var(--site-max-width) / 2));
}

.wide-background-wrapper {
    padding-left: calc(var(--space-md) + min(var(--site-max-width), 100vw) * 0.2);
}

.scroll-container {
    overflow: auto;
}

.wide-background-content {
    padding: var(--space-lg) 0;
}

.height-70vh {
    height: 70vh;
    align-self: flex-start;
}

.uppercase {
    text-transform: uppercase;
}



/* SIDEBAR */

.sidebar-header {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: var(--space-sm);
}

.sidebar-nav ul {
    padding: 0;
}

.sidebar-nav li {
    margin-top: var(--space-sm);
    font-size: 0.9em;
}

.sidebar-section {
    padding-top: var(--space-lg);
}

.sidebar .material-icons {
    font-size: 1.2em;
    position: relative;
    top: -1px;
}

.sidebar-badge {
    position: relative;
    left: -1em;
}





.Content {
    width: 100%;
}

.Space {
    padding: var(--space-sm) 0;
}

.CardsDeck {
    display: flex;
    flex-flow: row wrap;
    gap: var(--space-md);
    justify-content: center;
}

.TwoColumns .Card {
    width: 48%;
}

.Third {
    width: 30%;
}

.Quarter {
    width: 25%;
}

.Card {
    padding: var(--space-sm) var(--space-md);
    background: var(--secondary-color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow-sm);
}

.Tag {
    color: var(--secondary-text-color);
    padding: 1px 8px;
    border: 1px solid var(--border-color);
    border-radius: 20px;
    font-size: var(--font-size-sm);
    margin-right: var(--space-sm);
}

.Tag:hover {
    background: var(--border-color);
    color: var(--primary-color);
}

.Headline {
    margin: var(--space-sm) 0;
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding: var(--space-xs) var(--space-md);
}

ul, ol {
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-left: var(--space-md);
}

.Content .List {
    width: auto;
    max-width: var(--content);
    padding-bottom: var(--space-md);
}

.List ul {
    list-style-type: none;
    padding: 0;
}

.List li {
    margin: var(--space-sm) 0;
}

.ListTwoColumns {
    column-count: 2;
    column-gap: var(--space-md);
}

.IllustratedBlock {
    display: flex;
    gap: var(--space-md);
    justify-content: space-between;
    align-items: center;
}

.IllustratedText {
    max-width: var(--content);
}

.Illustration {
    width: 100%;
    max-width: 300px;
    height: auto;
    text-align: center;
}

.Illustration img {
    max-width: 60%;
    max-height: 300px;
}

.Air {
    height: calc(var(--space-lg) * 2);
}

.ContentSeparator {
    width: 100%;
    max-width: var(--content);
    height: 1px;
    margin: var(--space-lg) 0;
    background: var(--border-color);
}

button {
    background: var(--brand-color);
    border-radius: calc(var(--border-radius) * 2);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: inherit;
}

button:hover {
    background: var(--brand-dark-color);
}

cite {
    color: var(--secondary-text-color);
    width: 100%;
    text-align: right;
}

.AppIcon img {
    width: 100%;
    max-width: 100px;
    height: auto;
}

.VerticalPaddingLg {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.VerticalPaddingMd {
    padding-top: var(--space-md);
    padding-bottom: var(--space-md);
}

.VerticalPaddingSm {
    padding-top: var(--space-sm);
    padding-bottom: var(--space-sm);
}

.HorizontalPaddingLg {
    padding-left: var(--space-lg);
    padding-right: var(--space-lg);
}

.HorizontalPaddingMd {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
}

.HorizontalPaddingSm {
    padding-left: var(--space-sm);
    padding-right: var(--space-sm);
}

@media (max-width: 768px) {
    .sidebar-header {
        margin-bottom: 0;
    }

    .eyebrow {
        white-space: nowrap;
        margin: 0;
    }
    
    .eyebrow br {
        display: none;
    }

    .highlight {
        width: 100%;
        padding: var(--space-sm) var(--space-md);
    }

    .wide-background-wrapper {
        padding-left: var(--space-lg);
    }

    .wide-background-content {
        padding-left: var(--space-sm);
    }

    .PageOffset {
        padding-top: 0;
        width: 100%;
        max-width: none;
        position: static;
    }

    .Sidebar {
        display: flex;
        flex-flow: row nowrap;
        padding: var(--space-sm) 0;
        border-bottom: 1px solid var(--border-color);
    }

    .SidebarHeader, .SidebarNav {
        display: inline-block;
    }

    .SidebarNav {
        overflow-x: scroll;
    }

    .SidebarNav ul {
        display: flex;
        flex-flow: row nowrap;
    }

    .SidebarNav li {
        margin: 0 var(--space-sm);
        white-space: nowrap;
    }

    .Content {
        padding: 0 0 calc(var(--space-lg) * 3) 0;
    }

    .TwoColumns .Card {
        text-align: center;
        width: 100%;
    }

    .Third {
        width: 100%;
    }

    .Quarter {
        width: 45%;
    }

    .IllustratedBlock {
      flex-direction: column;
      align-items: flex-start;
    }
  
    .IllustratedText {
      width: 100%;
    }
  
    .Illustration {
      width: 100%;
      max-width: none;
    }
  }