header {
    background: var(--header-bg);
    height: var(--header-height);
    padding: 0 var(--space-md);
    position: fixed;
    width: 100%;
    z-index: 1003;
}

.header-wrapper {
    height: 100%;
}

.header-logo-container {
    min-width: var(--logo-width);
    height: 100%;
    padding: var(--space-xs) 0;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
}

.header-logo {
    height: 36px;
    background: var(--header-logo);
    min-width: 100px;
    width: var(--logo-width);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center left;
}

.header-logo img {
    height: 100%;
    width: auto;
    max-width: 100%;
    object-fit: contain;
}

nav ul {
    list-style-type: none;
    padding: 0;
}
  
.nav-global {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}
  
.nav-global ul {
    display: flex;
    height: 100%;
    align-items: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    gap: 20px;
}

.nav-global li {
    height: 100%;
}
  
.nav-global ul a {
    display: flex;
    align-items: center;
    height: 100%;
    color: var(--primary-color);
    text-decoration: none;
    border: none;
}
  
.nav-global ul a:hover {
    color: var(--nav-link-hover);
}

.hamburger {
    display: none;
    background: none;
    color: var(--primary-color);
    border: none;
    font-size: 24px;
    cursor: pointer;
    position: relative;
    padding: 0;
    z-index: 1001;
}

@media (max-width: 768px) {
    .hamburger {
      display: block;
    }

    .hamburger .icon-close {
        display: none;
    }

    .hamburger.active .icon-menu {
        display: none;
    }

    .hamburger.active .icon-close {
        display: inline;
    }
  
    .nav-global {
        position: fixed;
        top: -100%;
        left: 0;
        width: 100%;
        height: 90%;
        flex-direction: column;
        align-items: flex-start;
        font-size: var(--font-size-lg);
        background: var(--background-color);
        padding: calc(var(--header-height) + 2 * var(--space-md)) var(--space-md) var(--space-lg);
        transition: top 0.3s ease-in-out;
        box-shadow: var(--shadow-lg);
        border-radius: 0 0 20px 20px;
        z-index: 1000;
    }
  
    .nav-global.active {
        top: 0;
    }
  
    .nav-global ul {
        flex-direction: column;
        gap: 10px;
    }

    .nav-global li::after {
        content: ' >>';
        color: var(--secondary-text-color);
    }
}