@media screen and (max-width: 768px) {
    body {
        font-size: 14px;
    }

    header {
        padding: 10px;
    }

    .logo {
        margin: 10px 5px;
    }

    nav {
        width: fit-content;
    }

    .hamburger {
        display: block;
        padding-top: 16px;
        height: 100%;
    }
    
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        top: 0;
        left: -100%;
        background-image: url(/assets/img/home-bg.jpg);
        background-attachment: fixed;
        background-size: cover;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: left 0.3s;
        z-index: 100;
      }
    
    nav ul li {
        margin: 10px 0;
        width: 100%;
        padding: 10px 0;
      }
    
    nav ul li a {
        font-size: 32px;
        color: white;
        border-bottom: none;
    }

    nav ul li:hover, nav ul li:hover a, nav ul li a:hover{
        font-family: 'Restora';
        font-size: 32px;
        background-color: #00ff4e;
        color: #fff;
        border: none;
    }

    nav ul .close {
        display: block;
        font-size: 3.2em;
        padding-left: 90%;
    }

    header .button {
        margin: auto 5px;
        border-radius: 20px;
    }

    section {
        padding: 30px 10px;
        margin: 5px auto;
    }

    h1 {
        font-size: 24px;
        line-height: 25px;
    }

    h2 {
        line-height: 1em;
    }

    .sectionFirst {
        min-height: 62vh;
    }

    .helloWorld {
        width: 100%;
        font-size: 14px;
        line-height: 16px;
        padding: 0 18px;
        bottom: 10px;
    }

    .sectionCTA {
        right: 10px;
        bottom: 20px;
    }

    .servicesWrapper {
        flex-flow: column;
    }

    .service {
        width: 100%;
    }

    .solutionsText {
        padding: 0;
        font-size: 1em;
    }

    .solutionAccount, .solutionIntergation, .solutionSales, .solutionLogistics, .solutionConsulting {
        width: 100%;
        margin: 0 0 10px 0;
    }

    .oneApp, .Apps, .appStore {
        min-height: fit-content;
        height: fit-content;
    }

    .appStore {
        flex-flow: row wrap;
    }

    .app {
        width: 48%;
    }

    .oneAppWrapper {
        flex-flow: column;
        height: fit-content;
    }

    .oneAppPhone {
        width: 100%;
        text-align: center;
    }

    .oneAppText {
        width: 100%;
        text-align: center;
        padding: 30px 30px 0;
    }

    .oneAppText ul {
        text-align: left;
        padding-left: 40px;
    }

    .sleep {
        display: none;
    }

    .demoRequest {
        width: 100%;
    }

    footer {
        width: 100%;
        flex-flow: column nowrap;
    }

    .footerSence {
        width: 100%;
        flex-flow: row wrap;
    }

    .footerSence div {
        width: 50%;
        margin-bottom: 25px;
    }

    .copyright {
        order: 5;
        width: 100% !important;
    }

    .contacts {
        text-align: left;
    }
}