@import url('/assets/css/modules/special.css');

@font-face {
    font-family: 'Restora';
    src: url('/assets/font/Restora.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Restora';
    src: url('/assets/font/RestoraBold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

:root {
    --bg-color: var(--white);
    --secondary-color: var(--gray-light);
    --header-bg: rgba(255, 255, 255, 0.9);
    --border-color: var(--black);
  
    --heading-font: 'Restora', sans-serif;

    --header-logo: url('/assets/img/logo/logo.svg') no-repeat;
    --sidebar-width: calc(var(--global-fr) * 3 + var(--grid-gap) * 2);

    --field-width: calc(50vw - var(--site-max-width)/2);
}

.header-logo {
    background-image: url('/assets/img/logo/logo.svg');
}

.wa-button {
    background-image: url('/assets/img/common/vendors/wa.svg');
}

blockquote {
    border-left: 4px solid var(--border-color);
    padding: var(--space-xs) var(--space-md);
}

.wide-background {
    position: relative;
    background: var(--secondary-color);
    width: 100vw;
    margin-left: calc(-1 * var(--sidebar-width) - var(--grid-gap-global) - var(--field-width));
}

.wide-background-wrapper {
    padding-left:  calc(var(--field-width) + var(--sidebar-width) + var(--grid-gap-global));
}

.wide-background-content {
    padding: var(--space-lg) var(--space-lg) var(--space-lg) 0;
}

.scroll-container {
    overflow: auto;
}

.tag {
    color: var(--text-color-light);
    border-color: var(--border-color-light);
}

.emoji {
    font-family: serif;
}

form label {
    font-size: var(--font-size-sm);
}

form input {
    border-radius: var(--space-sm);
    border-color: var(--border-color-light);
    padding: var(--space-xs) var(--space-sm);
}

form button {
    border-color: var(--border-color);
}

/* CONSTRUCTION NOTICE */

.notice-stripe {
    width: var(--site-max-width);
}

.construction-stripe-mini {
    width: 100%;
    background: var(--yellow);
    color: #000;
    padding: 3px 0;
    text-align: center;
}

.construction-notice {
    position: inherit;
    height: 100%;
    padding: var(--space-lg) 0;
}

@media  (max-width: 768px) {
    h1 {
        font-size: var(--font-size-xl);
        line-height: var(--line-height);
    }

    h2 {
        line-height: var(--line-height-xs);
    }

    .wide-background {
        margin-left: calc(-1 * var(--space-md));
        margin-right: calc(-1 * var(--space-md));
    }

    .wide-background-wrapper {
        padding-left: var(--space-md);
    }
}