---
layout: page
title: Rare News
offset: about
permalink: /about/newsroom/
---

<p>
    The Press Office pulls together all the key moments from the Rare Digits&rsquo; life and insider scoops that are sure to&nbsp;help partners, colleagues, and maybe even humanity itself&mdash;making the world just a&nbsp;bit better and a&nbsp;lot more efficient!
</p>
<br>
<div class="feed-list">
    {% for post in collections.news reversed %}
        <div class="feed-list__item">
            <div class="feed-list__item-meta">
                {{ post.date | formatDate }}
                {{ post.data.category }}
            </div>
            <h4>
                <a href="{{ post.url }}">{{ post.data.title }}</a>
            </h4>
            <div class="feed-list__item-meta">
                {% for label in post.data.labels %}
                    {% capture tag_name %}{{ label }}{% endcapture %}
                    <span class="tag">#{{ tag_name }}</span>&nbsp;
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>

{% include "special/pressOffice.html" %}
