---
layout: page
title: Newsroom
permalink: /newsroom/
---

<h1>Rare News</h1>

<p>
    The Newsroom pulls together all the key moments from the Company&rsquo;s life and insider scoops that are sure to&nbsp;help clients, colleagues, and maybe even humanity itself&mdash;making the world just a&nbsp;bit better and a&nbsp;lot more efficient!
</p>
<br>
<div class="newsroomList">
    {% for post in site.posts %}
        <div class="newsroomItem">
            <div class="newsroomNewsData">
                {{ post.date | date: "%d.%m.%Y" }}
                {% for tag in post.tags %}
                    {% capture tag_name %}{{ tag }}{% endcapture %}
                    <span class="list-tag">
                        #{{ tag_name }}
                    </span>
                {% endfor %}
            </div>
            <a href="{{ post.url }}"><h3>{{ post.title }}</h3></a><br>
        </div>
    {% endfor %}
</div>