{% include head.html %}

{% include header.html %}

<section class="sectionFirst">
    <div class="helloWorld">
        <h1>Elegant Exteriors,<br> Brutal Internal</h1>
        <p>
            Software that’s easy to use
            and powerful under the hood,
            perfectly blending design
            with functionality
        </p>
        <p>
            <a href="">Nice to meet you</a> >>
        </p>
    </div>
</section>
<section class="Secret">
    <h2>Pure Performance, No Excess</h2>
    <hr class="hrDeco hrBlack">
    <p>
        Efficiency is our hallmark at Rare. Solutions that fit the task, with zero fluff.
    </p>
    <div class="sectionCTA">
        <a href="" class="black">Check it out</a> >>
    </div>
</section>
<section class="Solutions">
    <h2>Simplicity in Every Solution</h2>
    <hr class="hrDeco">
    <div class="solutionsText">
        <p>Navigate the future of business<br>
            with <strong>Rare Digits</strong></p>
    </div>
    <div class="solutionsWrapper">
        <div class="solution solutionAccount">
            <h3>Accounting: Beyond Numbers</h3>
            <p>Discover a zenith of precision and clarity in every financial transaction and report</p>
        </div>
        <div class="solution solutionIntergation">
            <h3>Integration: Harmony Across Platforms</h3>
            <p>Orchestrate disparate systems,<br>transforming them into a seamless, unified experience</p>
        </div>
        <div class="solution solutionSales">
            <h3>Push the Envelope</h3>
        </div>
        <div class="solution solutionLogistics">
            <h3>Just In Time.<br>
            Always</h3>
        </div>
        <div class="solution solutionConsulting">
            <h3>Consulting: Redefining Strategy</h3>
            <p>Visionary insights meet unparalleled expertise</p>
        </div>
    </div>
</section>
<section class="Apps">
    <h2>Bespoke Applications</h2>
    <hr class="hrDeco">
    <p>
        Disclose the full story and simplify decision making
    </p>
    <div class="appStore">
        <div class="app">
            <img src="/assets/img/app-erp.png" alt="">
            <p>
                <strong>Atlas ERP</strong><br>
                Visualized ERP System
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-gang.png" alt="">
            <p>
                <strong>Columbus</strong><br>
                Automated Sales Machine
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-forecast.png" alt="">
            <p>
                <strong>Cassandra App</strong><br>
                Predictive Analytics
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-chain.png" alt="">
            <p>
                <strong>Fanfare</strong><br>
                Loyalty Management System
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-mia.png" alt="">
            <p>
                <strong>Concierge.app</strong><br>
                Personal GTP Assistant
            </p>
        </div>
    </div>
    <div class="appStoreText">
        <p>Customized, turnkey apps that epitomize sophistication.<br>Impeccably crafted to resonate with your enterprise’s unique rhythm</p>
    </div>
</section>
<section class="oneApp">
    <h2>One Interface. Infinite Control</h2>
    <hr class="hrDeco">
    <p>Online data analisys in simple words</p>
    <div class="oneAppWrapper">
        <div class="oneAppPhone"></div>
        <div class="oneAppText">
            <p><strong>Decades of expertise captured in one sleek interface</strong><br>
            Empower your enterprise with real-time insights and control, anywhere, anytime.</p>
            <ul>
                <li>Seamless integration with back-end systems</li>
                <li>Responds to off-the-wall questions</li>
                <li>Flexibly customizable</li>
                <li>Tunable alert system</li>
            </ul>
        </div>
    </div>
    <div class="sleep">
        <p>
            Trained to suit<br>
            your individual needs<br>
            <img src="/assets/img/sleep.png" alt="">
        </p>
    </div>
</section>
<!-- <section class="Testimonials">
    <h2>Crafting Excellence Since 2010</h2>
        <p>At Rare Digits, we believe in more than just software. We craft experiences.<br>
        Through relentless pursuit of perfection, we’ve blended seamless integrations into art.</p>
        <div class="feedback">
        </div>
</section> -->
<section>
    <a name="demo"></a>
    <h2>Experience Rare Digits</h2>
    <hr class="hrDeco">
    <p>A renaissance in enterprise software awaits.
    <br>Explore elegance, efficiency, and excellence—encapsulated by yourself:</p>
    <div class="demoRequest">
        <form id="my-form" action="https://formspree.io/f/xoqodadn" method="POST">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="company">Company:</label>
            <input type="text" id="company" name="company" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="contact">Contact Number:</label>
            <input type="tel" id="contact" name="contact" required>
            <button id="my-form-button">Request a Demonstration</button>
            <!-- <input type="submit" value="Request a Demonstration"> -->
            <h3 id="my-form-status"></h3>
        </form>
    </div>
</section>

{{ content }}

{% include footer.html %}