{% include head.html %}

{% include header.html %}

<section class="sectionFirst">
    <div class="helloWorld">
        <h1>Elegance in Software
        <br>Expertise in Action</h1>
        <p>Where mastery in software engineering<br>
        converges with transformative user experience</p>
    </div>
</section>
<section class="Solutions">
    <h2>Simplicity in Every Solution</h2>
    <div class="solutionsText">
        Navigate the future of business with <strong>Rare Digits</strong>
    </div>
    <div class="solutionsWrapper">
        <div class="solution solutionAccount">
            <h3>Accounting: Beyond Numbers</h3>
            <p>Discover a zenith of precision and clarity in every financial transaction and report</p>
        </div>
        <div class="solution solutionIntergation">
            <h3>Integration: Harmony Across Platforms</h3>
            <p>Orchestrate disparate systems,<br>transforming them into a seamless, unified experience</p>
        </div>
        <div class="solution solutionSales">
            <h3>Push the Envelope</h3>
        </div>
        <div class="solution solutionLogistics">
            <h3>Just In Time.<br>
            Always</h3>
        </div>
        <div class="solution solutionConsulting">
            <h3>Consulting: Redefining Strategy</h3>
            <p>Visionary insights meet unparalleled expertise</p>
        </div>
    </div>
</section>
<section class="oneApp">
    <h2>One Interface. Infinite Control</h2>
    <p>Online data analisys in simple words</p>
    <div class="oneAppWrapper">
        <div class="oneAppPhone"></div>
        <div class="oneAppText">
            <p><strong>Decades of expertise captured in one sleek interface</strong><br>
            Empower your enterprise with real-time insights and control, anywhere, anytime.</p>
            <ul>
                <li>Seamless integration with back-end systems</li>
                <li>Responds to off-the-wall questions</li>
                <li>Flexibly customizable</li>
                <li>Tunable alert system</li>
            </ul>
        </div>
    </div>
    <div class="sleep">
        <p>
            Trained to suit<br>
            your individual needs<br>
            <img src="/assets/img/sleep.png" alt="">
        </p>
    </div>
</section>
<section class="Apps">
    <h2>Bespoke Applications</h2>
    <p>
        Disclose the full story and simplify decision making
    </p>
    <div class="appStore">
        <div class="app">
            <img src="/assets/img/app-erp.png" alt="">
            <p>
                <strong>Monitor.app</strong><br>
                Visualized ERP System
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-mia.png" alt="">
            <p>
                <strong>Concierge.app</strong><br>
                Personal GTP Assistant
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-gang.png" alt="">
            <p>
                <strong>Cashier.app</strong><br>
                Automated Sales Machine
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-forecast.png" alt="">
            <p>
                <strong>Forecast.app</strong><br>
                Predictive Analytics
            </p>
        </div>
        <div class="app">
            <img src="/assets/img/app-chain.png" alt="">
            <p>
                <strong>On-Chain.app</strong><br>
                Supply Chain Optimization
            </p>
        </div>
    </div>
    <div class="appStoreText">
        <p>Customized, turnkey apps that epitomize sophistication.<br>Impeccably crafted to resonate with your enterprise’s unique rhythm</p>
    </div>
</section>
<!-- <section class="Testimonials">
    <h2>Crafting Excellence Since 2010</h2>
        <p>At Rare Digits, we believe in more than just software. We craft experiences.<br>
        Through relentless pursuit of perfection, we’ve blended seamless integrations into art.</p>
        <div class="feedback">
            <div class="swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="swiper-avatar"><img src="https://bikes-n-stuff.com/wp-content/uploads/sb-instagram-feed-images/julietelliott.jpg"></div>
                                <p>"Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."</p>
                                <p class="cite">- Juliet Elliott, Cyclist</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="swiper-avatar"><img src="https://dgtzuqphqg23d.cloudfront.net/aqUDdv8fco91cPIeBAetAcpDfUEOIuaIrivU11PMnBs-2048x1942.jpg"></div>
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed posuere consectetur est at lobortis. Nullam id dolor id nibh ultricies vehicula ut id elit. Curabitur blandit tempus porttitor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros."</p>
                                <p class="cite">- Katie Kookaburra, Cyclist</p>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="content-wrapper">
                            <div class="content">
                                <div class="swiper-avatar"><img src="https://dgalywyr863hv.cloudfront.net/pictures/athletes/188112/45714/8/full.jpg"></div>
                                <p>"Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec id elit non mi porta gravida at eget metus. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum."</p>
                                <p class="cite">- Alison Tetrick, Cyclist</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="swiper-nav-wrapper">
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>
        </div>
</section> -->
<section>
    <h2>Experience Rare Digits</h2>
    <p>A renaissance in enterprise software awaits.
    <br>Explore elegance, efficiency, and excellence—encapsulated by yourself:</p>
    <div class="demoRequest">
        <form action="#" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <label for="company">Company:</label>
            <input type="text" id="company" name="company" required>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <label for="contact">Contact Number:</label>
            <input type="tel" id="contact" name="contact" required>
            <input type="submit" value="Request a Demonstration">
        </form>
    </div>
</section>

{{ content }}

{% include footer.html %}