{% include "head.html" %}

<body class="{{ body_class }}">
    {% include "header.html" %}
        
    <main class="main-home">
        <div class="wa-sticky-zone">
            <div class="wa-button-wrapper">
                <a href="https://wa.me/971528786777" class="wa-button" aria-label="Chat on WhatsApp"></a>
            </div>
        </div>
        <div class="content">
            {% include "special/constructionHeader.html" %}
            {{ content }}
        </div>
    </main>
    
    {% include "footer.html" %}
</body>
