{% include head.html %}

<div class="Column">
    {% include header.html %}
    {% include /special/constructionHeader.html %}
    
    <main>
        <div class="content-wrapper">
            <aside class="sidebar">
                {% if page.offset == "solutions" %}
                    {% include /menu/solutions.html %}
                {% elsif page.offset == "about" %}
                    {% include /menu/about.html %}
                {% elsif page.offset == "legal" %}
                    {% include /menu/legal.html %}
                {% elsif page.offset == "services" %}
                    {% include /menu/services.html %}
                {% elsif page.offset == "styles" %}
                    {% include /menu/demo/styles.html %}
                {% endif %}
            </aside>
            {% include title.html %}
            <section class="page-content">
                {{ content }}
            </section>
        </div>
    </main>
</div>

{% include footer.html %}