{% include head.html %}

<div class="Column">
    {% include header.html %}
    {% include /special/constructionHeader.html %}
    
    <main>
        <div class="PageOffset">
            {% if page.offset == "solutions" %}
                {% include /menu/solutions.html %}
            {% elsif page.offset == "about" %}
                {% include /menu/about.html %}
            {% endif %}
        </div>
        <div class="Content">
            {{ content }}
        </div>
    </main>
</div>

{% include footer.html %}