{% include head.html %}

<div class="Column">
    {% include header.html %}
    {% include /special/constructionHeader.html %}
    
    <main>
        <div class="content-wrapper">
            <aside class="sidebar">
                <div class="sidebar-header">
                    <a class="no-decoration" href="/about/newsroom/">Newsroom</a>
                </div>
                    {% if page.category %}
                        <div class="eyebrow">{{ page.category }}</div>
                    {% endif %}
                    {% if page.date %}
                        <div class="eyebrow">{{ page.date | date: "%B %d, %Y" }}</div>
                    {% endif %}
                <p>
                    {% if page.tags %}
                        {% for tag in page.tags %}
                        <span class="tag">#{{ tag }}</span>
                        {% endfor %}
                    {% endif %}
                </p>
            </aside>
            {% include title.html %}
            <section class="page-content">
                {{ content }}
                {% include /special/pressOffice.html %}
            </section>
        </div>
    </main>
</div>

{% include footer.html %}